@model IEnumerable<AgriEnergyConnect.Data.ApplicationUser>
@using AgriEnergyConnect.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <main role="main" class="container mt-4">
        <h1 class="mb-4">All Users</h1>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Farmer Role</th>
                    <th>Admin Role</th>
                    <th>Employee Role</th>

                    <th>Delete User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => user.Email)</td>
                        <td>@Html.DisplayFor(modelItem => user.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => user.LastName)</td>
                        @if (User.IsInRole("Administrator") || await UserManager.IsInRoleAsync(user, "Employee"))
                        {
                            <td>
                                <form asp-action="MakeRemoveFarmer" method="post" class="d-inline">
                                    <input type="hidden" name="uId" value="@user.Id" />
                                    @if (await UserManager.IsInRoleAsync(user, "Farmer"))
                                    {
                                        <button type="submit" class="btn btn-danger btn-sm">Remove Farmer</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary btn-sm">Make Farmer</button>
                                    }
                                </form>
                            </td>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <td>
                                <form asp-action="MakeRemoveAdmin" method="post" class="d-inline">
                                    <input type="hidden" name="uId" value="@user.Id" />
                                    @if (await UserManager.IsInRoleAsync(user, "Administrator"))
                                    {
                                        <button type="submit" class="btn btn-danger btn-sm">Remove Admin</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary btn-sm">Make Admin</button>
                                    }
                                </form>
                            </td>
                            <td>
                                <form asp-action="MakeRemoveEmployee" method="post" class="d-inline">
                                    <input type="hidden" name="uId" value="@user.Id" />
                                    @if (await UserManager.IsInRoleAsync(user, "Employee"))
                                    {
                                        <button type="submit" class="btn btn-danger btn-sm">Remove Employee</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary btn-sm">Make Employee</button>
                                    }
                                </form>
                            </td>
                            <td>
                                <form asp-action="DeleteUser" class="d-inline">
                                    <input type="hidden" name="userId" value="@user.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </main>
</body>
