@model IEnumerable<AgriEnergyConnect.Models.Product>

@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Product List</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-3">Create New Product</a>
</p>

<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Category
            </th>
            <th>
                Production Date
            </th>
            <th>
                Made By Farmer
            </th>
            @if (User.IsInRole("Employee") || User.IsInRole("Administrator"))
            {
                <th class="text-center">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @item.ProductionDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.applicationUser.FirstName)
                    @Html.DisplayFor(modelItem => item.applicationUser.LastName)
                </td>
                @if (User.IsInRole("Employee") || User.IsInRole("Administrator"))
                {
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
